<header class="header">
    <nav class="navbar">
        <div class="nav-container">
            <div class="nav-logo">
                <a href="/index.html">Arlindo Santos // Portfolio</a>
            </div>
            <div class="nav-menu">
                <a href="/index.html" class="nav-link">Home</a>
                <a href="/about/index.html" class="nav-link">About</a>
                <a href="/projects.html" class="nav-link">Projectos</a>
                <a href="/contact.html" class="nav-link">Contactos</a>
                <a href="/blog/index.html" class="nav-link">Blog</a>
            </div>
            <div class="nav-toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </nav>
</header>
